<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="edit-form" action="edit.html" th:method="post" th:action="@{/create}">
    <h3>Book:</h3>

    <div class="row">
        <label for="book-name-input">Name:</label>
        <input id="book-name-input" name="name" type="text"/>
    </div>

    <div class="row">
        <label for="author-input">Author:</label>
        <input id="author-input" name="author" type="text"/>
    </div>

    <div class="row">
        <label for="genre-input">Name:</label>
        <input id="genre-input" name="genre" type="text"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="list.html" th:href="@{/list}"><button type="button">Cancel</button></a>
    </div>
</form>

</body>
</html>
